:root {
  --shadow: #000000;
  --skin: #FFFFFF;
  --white: #FFFFFF;
  --black: #000000;
  --yellow-white: #FCFCFC;
  /* --mindera-yellow: #f9c705; */
  --mindera-yellow: #FFC700;
  --mindera-light-yellow: #fce999;

  --color-black: #161616;
  --color-white: #fff;
}

@font-face {
  font-family: 'Press Start 2p';
  src: url('./fonts/PressStart2P-Regular.ttf');
} 

body {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  margin: 0;
}

button, select, input, form {
  font-family: 'Press Start 2p';
  background-color: #f9c705;
  color: black;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
	margin:5px;
  box-shadow: 0 .2em #7f6d27; 
}

button:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

form {
  background-color: #fdfcef;
}

.hidden {
  display: none !important;
}

#base-cat {
  animation: zoomIn 5s;
  margin: 10px;
}

.skin {
  fill: var(--skin);
  stroke: var(--black);
}

.eye {
  fill: var(--white);
  stroke: var(--black);
}

/* walk */

.cat-container{
  position: relative;
  display: inline-block;
  height: 360px; 
  /* width: 507.5px; */
  width: 677.5px;
  z-index: 10;
  overflow: hidden;
  margin: 25px 1px;
  background-color: #fdfcef;
}

.selected {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cat-name {
  font-size: 24px;
  font-weight: bold;
  background-color: black;
  color: white;
}

.cat-container .cat-actions{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  height: 100%;
  background: #f9c705;
}

.moving-cat{
  position: absolute;
  left: 0;
  bottom: 0;
}

.walk {
  animation: move-animation 1.2s steps(16, end) infinite;
}

.slide {
  animation: slide 2s;
}

.hide {
  left: 507px;
}

.flip {
  transform: scaleX(-1);
}

@keyframes zoomIn {
  from {
    transform: scale3d(0,0,-1);
  } to {
    transform: scale3d(1,1,1);
  }
}


@keyframes move-animation { 
  from { left: 0; }
  to { left: -8120px; }
}

@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: 507px;
  }
}

@keyframes flip {
  to {
    transform: scaleX(-1);
  }
}

